<div id="wrapper">
<nav ngbNav #nav="ngbNav">
    <!-- ////////////////////////////////////////// For First Assignement Form Starting Here ////////////////////////////////// -->
    <ng-container [ngbNavItem]="1">
        <ng-template ngbNavContent>
            <mat-card-header>
                <mat-card>
                    <mat-form-field>
                        <mat-label>ex- India</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">
                              <input type="checkbox">  {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </mat-card>
            </mat-card-header>
            <div id="wrapper">
                <div class="submit">
                    <button mat-raised-button color="primary" (click)="nav.select(2)">Next</button>
                </div>
            </div>
        </ng-template>

    </ng-container>
    <!-- /////////////////////////////////////////// For First Assignement Form Ending Here /////////////////////////////////////// -->

    <!-- /////////////////////////////////////// for Second Assignement starting Here ////////////////////////////////// -->
    <ng-container [ngbNavItem]="2"><br>
        <ng-template ngbNavContent>
            <form>
                <mat-form-field class="example-chip-list">
                    <mat-label>e.g. Australia</mat-label>
                    <mat-chip-grid #chipGrid aria-label="country selection">
                        <mat-chip-row *ngFor="let country of countrys" (removed)="remove(country)">
                            {{country}}
                            <button matChipRemove [attr.aria-label]="'remove ' + country">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="New Country..." #countryInput [formControl]="countryCtrl"
                        [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        <mat-option *ngFor="let country of filteredcountrys | async" [value]="country">
                            {{country}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
            <div class="submit">
                <button mat-raised-button color="accent" (click)="nav.select(1)">Back</button>&nbsp;&nbsp;
            </div>
        </ng-template>
    </ng-container>
    <!-- /////////////////////////////////////// for Second Assignement Form Ending Here ////////////////////////////////// -->
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</nav>
</div>